* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
}

html {
    font-size: 62.5%;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: #575b67;
    position: relative;
    overflow: hidden;
}

.bg {
    width: 180rem;
    height: 180rem;
    border-radius: 50%;
    background-color: #3b3f4b;
    position: absolute;
}

.bg-1 {
    left: -45%;
    top: -10%;
}

.bg-2 {
    right: -15%;
    top: 35%;
}

.card {
    width: 120rem;
    height: 70rem;
    background-color: #5c5e66;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    box-shadow: 0 1rem 6rem rgba(0, 0, 0, 0.4);
}

.card-bg-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 1rem 0 0 1rem;
}

.card-bg {
    width: 100%;
    height: 200%;
    background-color: #52555d;
    position: absolute;
    left: -55%;
    top: -50%;
    border-radius: 0 50% 50% 0;
    transform: rotateZ(-40deg);
}

.card-heading {
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 25rem;
    letter-spacing: 5rem;
    text-transform: uppercase;
    color: #77797d;
    opacity: 0.3;
}

.card img {
    position: absolute;
    top: -5%;
    left: -2%;
}